@font-face {
    font-family: 'inter', sans-serif;
url('assets/fonts/inter.eot');
url('assets/fonts/inter.woff2') format('woff2'),
url('assets/fonts/inter.woff') format('woff'),
url('assets/fonts/inter.ttf') format('truetype'),
url('assets/fonts/inter.svg#inter') format('svg'),
url('assets/fonts/inter.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merinda';
url('assets/fonts/merinda.ttf')
}

.navbar-brand {
    font-family: merinda, cursive;
    font-size: x-large;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: inter, sans-serif !important;
}

.btn-sq-sm {
    width: 40px !important;
    height: 40px !important;
    font-size: 10px;
    padding: 5px;
}

.btn-sq-sm:focus{
    box-shadow: none !important;
}

.myrow {
    height: 90%;
}

#myHolder {
    height: 85%;
    zoom: 1;
}

.paperColumn {
    float: left;
    width: 65%;
    height: 100%;
    overflow: scroll;
}

.modal-height {
    height: 500px;
}

.cursor-click {
    cursor: pointer !important;
}

.chatcol {
    width: 35%;
    float: right;
    height: 100%;
}
#arrayTypeButton {
    padding-right: 57%;
}